<header class="page-header">
  <div class="container header-container">
    <a href="../index.html" class="logo">
      <span class="logo-accent">SIMPLY</span>&nbsp;CHOCOLATE
      <svg class="logo-icon" width="21" height="21">
        <use href="../img/icons.svg#icon-chocolate"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a href="#" class="header-nav-link link">Home</a>
        </li>

        <li class="header-nav-item">
          <a href="#how-its-made" class="header-nav-link link"
            >How it’s made?</a
          >
        </li>

        <li class="header-nav-item">
          <a href="#ourproducts" class="header-nav-link link">Our products</a>
        </li>

        <li class="header-nav-item">
          <a href="#topsellers" class="header-nav-link link">Top sellers</a>
        </li>

        <li class="header-nav-item">
          <a href="#chocolateisloved" class="header-nav-link link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>

    <button class="mobile-menu-open js-open-menu" type="button">
      <svg class="mobile-menu-open-icon" width="28" height="28">
        <use href="../img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
