<header class="page-header" id="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">
      <span class="logo-accent">SIMPLY</span>&nbsp;CHOCOLATE
      <svg class="logo-icon" width="21" height="21">
        <use href="/img/icons.svg#icon-chocolate-logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a href="#header" class="header-nav-link link">Home</a>
        </li>

        <li class="header-nav-item">
          <a href="#how-its-made" class="header-nav-link link"
            >How it's made?</a
          >
        </li>

        <li class="header-nav-item">
          <a href="#ourproducts" class="header-nav-link link">Our products</a>
        </li>

        <li class="header-nav-item">
          <a href="#topsellers" class="header-nav-link link">Top sellers</a>
        </li>

        <li class="header-nav-item">
          <a href="#chocolateisloved" class="header-nav-link link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>

    <ul class="social-list">
      <li class="social-list-item">
        <a
          href="https://www.instagram.com/"
          class="social-list-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-ig"></use>
          </svg>
        </a>
      </li>

      <li class="social-list-item">
        <a
          href="https://twitter.com/"
          class="social-list-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="mobile-menu-open" data-mobile-menu-open type="button">
      <svg class="mobile-menu-open-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <!-- =========================MOBILE MENU========================= -->

  <div class="backdrop is-hidden" data-mobile-menu>
    <div class="mobile-menu">
      <button
        class="mobile-menu-close-btn"
        data-mobile-menu-close
        type="button"
      >
        <svg class="mobile-menu-close-icon" width="28" height="28">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-nav">
        <ul class="mobile-nav-list list">
          <li class="mobile-nav-item">
            <a href="#header" class="mobile-nav-link link" data-mobile-menu-link
              >Home</a
            >
          </li>

          <li class="mobile-nav-item">
            <a
              href="#how-its-made"
              class="mobile-nav-link link"
              data-mobile-menu-link
              >How it's made?</a
            >
          </li>

          <li class="mobile-nav-item">
            <a
              href="#ourproducts"
              class="mobile-nav-link link"
              data-mobile-menu-link
              >Our products</a
            >
          </li>

          <li class="mobile-nav-item">
            <a
              href="#topsellers"
              class="mobile-nav-link link"
              data-mobile-menu-link
              >Top sellers</a
            >
          </li>

          <li class="mobile-nav-item">
            <a
              href="#chocolateisloved"
              class="mobile-nav-link link"
              data-mobile-menu-link
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </nav>

      <ul class="mobile-social-list">
        <li class="social-list-item">
          <a
            href="https://www.instagram.com/"
            class="mobile-social-list-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="mobile-social-icon" width="22" height="22">
              <use href="/img/icons.svg#icon-ig"></use>
            </svg>
          </a>
        </li>

        <li class="mobile-social-list-item">
          <a
            href="https://twitter.com/"
            class="mobile-social-list-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="mobile-social-icon" width="22" height="22">
              <use href="/img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- =========================/MOBILE MENU========================= -->
</header>
