<section class="hero">
  <div class="container">
    <!-- Container for all the content inside the section-->
    <div class="hero-container">
      <div class="hero-content">
        <h1 class="visually-hidden">Hero</h1>
        <h2 class="hero-subheader">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h2>
        <!-- Container for buttons -->
        <div class="hero-btn-container">
          <button class="btn-basic btn-fill js-open-modal" data-modal="1">Buy now</button>
          <a href="#how-its-made" class="btn-basic btn-outline-dark"
            >How it’s made</a
          >
        </div>
        <a href="#footer" class="hero-scroll">
          <p class="scroll-text">scroll now</p>
          <div class="hero-scroll-btn">
            <svg class="hero-scroll-svg" height="22" width="22">
              <use href="/img/icons.svg#icon-scroll-down"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
