<!--section 4 components-->

<section class="section-components">
  <div class="container components-container">
    <div class="components-header-pos">
      <h2 class="components-header">
        IT ALL ADDS UP TO ONE EXCEPTIONAL<span
          class="components-header accent-text"
        >
          TASTE
        </span>
        SENSATION
      </h2>
      <p class="text-components-header">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="components-list list">
      <li class="components-link-1 link-comp">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  /img/04components/mob1@1x.avif 224w,
                  /img/04components/mob1@2x.avif 448w,
                  /img/04components/tab1@1x.avif 224w,
                  /img/04components/tab1@2x.avif 448w,
                  /img/04components/des1@1x.avif 206w,
                  /img/04components/des1@2x.avif 412w
                "
                sizes="(min-width: 1200px) 206px, (min-width: 768px) 224px, 224px"
                src="/img/04components/des1@1x.avif"
                loading="lazy"
                alt="mILK CHOCOLATE"
                class="image"
              />
              <div class="components-name-card">
                <p class="components-title-2">MILK CHOCOLATE</p>
              </div>
            </div>
            <div class="flip-card-back">
              <ul class="components-ingredients">
                <li class="components-name">
                  <p>MILK CHOCOLATE</p>
                </li>
                <li class="components-ingredients-item">
                  <ul class="components-ingredients-list">
                    <li class="components-product">
                      <p>chocolate</p>
                    </li>
                    <li class="components-benefits cards">
                      <p>the benefits</p>
                    </li>
                  </ul>
                </li>
                <li class="components-stock">
                  <p>
                    Milk chocolate is a solid chocolate confectionery containing
                    cocoa, sugar and milk. It is the most consumed type of
                    chocolate. Chocolate was originally sold and consumed as a
                    beverage in pre-Columbian times. Although four-fifths of all
                    milk chocolate is sold in the United States and Europe.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="components-link-2 link-comp">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  /img/04components/mob2@1x.avif 224w,
                  /img/04components/mob2@2x.avif 448w,
                  /img/04components/tab2@1x.avif 224w,
                  /img/04components/tab2@2x.avif 448w,
                  /img/04components/des2@2x.avif 412w
                  /img/04components/des2@1x.avif 206w,
                "
                sizes="(min-width: 1200px) 206px, (min-width: 768px) 224px, 224px"
                src="/img/04components/des2@1x.avif"
                loading="lazy"
                alt="mILK"
                class="image"
              />
              <div class="components-name-card">
                <p class="components-title-1">MILK</p>
              </div>
            </div>
            <div class="flip-card-back">
              <ul class="components-ingredients">
                <li class="components-name">
                  <p>MILK</p>
                </li>
                <li class="components-ingredients-item">
                  <ul class="components-ingredients-list">
                    <li class="components-product">
                      <p>milk</p>
                    </li>
                    <li class="components-benefits cards">
                      <p>the benefits</p>
                    </li>
                  </ul>
                </li>
                <li class="components-stock ell-1">
                  <p>
                    Milk is a white liquid food produced by the mammary glands
                    of mammals. It is the primary source of nutrition for young
                    mammals (including breastfed human infants) before they are
                    able to digest solid food.Early-lactation milk, which is
                    called colostrum, contains antibodies that strengthen the
                    immune system..
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="components-link-3 link-comp">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  /img/04components/mob3@1x.avif 224w,
                  /img/04components/mob3@2x.avif 448w,
                  /img/04components/tab3@1x.avif 224w,
                  /img/04components/tab3@2x.avif 448w,
                  /img/04components/des3@1x.avif 206w,
                  /img/04components/des3@2x.avif 412w
                "
                sizes="(min-width: 1200px) 206px, (min-width: 768px) 224px, 224px"
                src="/img/04components/des3@1x.avif"
                loading="lazy"
                alt="nuts"
                class="image"
              />
              <div class="components-name-card">
                <p class="components-title-2">NUTS</p>
              </div>
            </div>
            <div class="flip-card-back">
              <ul class="components-ingredients">
                <li class="components-name">
                  <p>NUTS</p>
                </li>
                <li class="components-ingredients-item">
                  <ul class="components-ingredients-list">
                    <li class="components-product">
                      <p>nuts</p>
                    </li>
                    <li class="components-benefits cards">
                      <p>the benefits</p>
                    </li>
                  </ul>
                </li>
                <li class="components-stock ell-1">
                  <p>
                    Almonds, pistachios, and walnuts are some types of nuts that
                    contain healthy nutrients. When eaten as part of a
                    nutrient-dense diet, these 9 nuts may offer benefits such as
                    reducing your risk of heart disease. They’re a good source
                    of fiber, healthy fats, and plant protein. Plus, they’re
                    great on their own.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="components-link-4 link-comp">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img
                srcset="
                  /img/04components/mob4@1x.avif 224w,
                  /img/04components/mob4@2x.avif 448w,
                  /img/04components/tab4@1x.avif 224w,
                  /img/04components/tab4@2x.avif 448w,
                  /img/04components/des4@1x.avif 206w,
                  /img/04components/des4@2x.avif 412w
                "
                sizes="(min-width: 1200px) 206px, (min-width: 768px) 224px, 224px"
                src="/img/04components/des4@1x.avif"
                loading="lazy"
                alt="sweet chocolate"
                class="image"
              />
              <div class="components-name-card">
                <p class="components-title-1">SEMI - SWEET CHOCOLATEE</p>
              </div>
            </div>
            <div class="flip-card-back">
              <ul class="components-ingredients">
                <li class="components-name">
                  <p>SEMI - SWEET CHOCOLATEE</p>
                </li>
                <li class="components-ingredients-item">
                  <ul class="components-ingredients-list">
                    <li class="components-product">
                      <p>sweet chocolate</p>
                    </li>
                    <li class="components-benefits cards">
                      <p>the benefits</p>
                    </li>
                  </ul>
                </li>
                <li class="components-stock ell-2">
                  <p>
                    Semi-sweet chocolate has a cocoa solid content of 35 to 65%.
                    One of the best ways to gain an understanding of this type
                    of chocolate is to compare it to a different type of
                    chocolate. Semisweet is darker than milk chocolate. In a
                    taste comparison, it has a slightly bitter taste whereas
                    milk chocolate is sweeter.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
