<!-- How-its-made -->
<section class="how_its_made">
    <h2 class="section-title title-him" id="how-its-made">hOW IT'S<span class="title-made"> made?</span></h2>
    <div class="how_its_made-container container">
        <div class="him-video-container">
            <picture>
                <!-- Desktop -->
                <source media="(min-width: 1200px)" srcset="
                /img/how_its_made/image_desk@1x.jpg 1x,
                /img/how_its_made/image_desk@2x.jpg 2x" />
                <!-- Tablet -->
                <source media="(min-width: 768px)" srcset="
                /img/how_its_made/image_tab@1x.jpg 1x,
                /img/how_its_made/image_tab@2x.jpg 2x" type="image/jpg" />
                <!-- Mobile -->
                <source media="(max-width: 767px)" srcset="
                /img/how_its_made/image_mob@1x.jpg 1x,
                /img/how_its_made/image_mob@2x.jpg 2x" type="image/jpg" />
                <img class="how_its_made-img" src="/img/how_its_made/image.jpg" alt="chocolate" width="614" height="400"
                    loading="lazy" />
            </picture>
            <svg class="how_its_made-icon" width="35" height="35">
                <use href="/img/icons.svg#icon-play-1"></use>
            </svg>
        </div>
            <div class="try-chocolates">
                <h3 class="how_its_made-title">Try our chocolates today and discover the perfect balance of flavor</h3>
                <ul class="how_its_made-list">
                    <li class="how_its_made-iteam">
                        <p class="how_its_made-text">Heat the milk in a saucepan without bringing it to a boil. Add
                            sugar
                            and cocoa powder.</p>
                    </li>
                    <li class="how_its_made-iteam">
                        <p class="how_its_made-text">At the same time, prepare a water bath. Melt the butter on it.</p>
                    </li>
                    <li class="how_its_made-iteam">
                        <p class="how_its_made-text">"Mix" the milk mixture and already liquid butter. Mix thoroughly
                            with a
                            silicone spatula so that the mass becomes uniform and silky.</p>
                    </li>
                    <li class="how_its_made-iteam">
                        <p class="how_its_made-text">Heat the mixture over low heat, letting it barely boil.</p>
                    </li>
                    <li class="how_its_made-iteam">
                        <p class="how_its_made-text">Pour the chocolate into special containers (can be replaced with
                            ice
                            molds). Allow to cool and harden.</p>
                    </li>
                </ul>
            </div>
    </div>
</section>