<section class="section-slide" id="ourproducts">
  <div class="container">
    <h2 class="section-title section-title-position">
      OUR
      <span class="section-title-first">PRODUCTS</span>
    </h2>

    <div class="swiper mySwiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper list">
        <!-- Slides -->
        <li class="swiper-slide slide-position">
          <img class="slide-img" srcset="/img/products/choco1.jpg 1x, /img/products/choco1@2x.jpg 2x"
            src="/img/products/choco1.jpg" alt="Dark chocolate" />
          <div class="discription-slide-position">
            <h3 class="slide-title">ORANGE</h3>
            <p class="slide-discription">Dark chocolate</p>
          </div>
          <button class="slide-btn" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide slide-position">
          <img class="slide-img" srcset="/img/products/choco2.jpg 1x, /img/products/choco2@2x.jpg 2x"
            src="/img/products/choco2.jpg" alt="Milk chocolate with APPLE&amp;CRANBERRY" />
          <div class="discription-slide-position">
            <h3 class="slide-title">APPLE&amp;CRANBERRY</h3>
            <p class="slide-discription">Milk chocolate</p>
          </div>
          <button class="slide-btn" type="button">50 UAH</button>
        </li>
        <li class="swiper-slide slide-position">
          <img class="slide-img" srcset="/img/products/choco3.jpg 1x, /img/products/choco3@2x.jpg 2x"
            src="/img/products/choco3.jpg" alt="Dark chocolate with lime&amp;sea salt" />
          <div class="discription-slide-position">
            <h3 class="slide-title">LIME&amp;SEA SALT</h3>
            <p class="slide-discription">Dark chocolate</p>
          </div>
          <button class="slide-btn" type="button">60 UAH</button>
        </li>
        <li class="swiper-slide slide-position">
          <img class="slide-img" srcset="/img/products/choco4.jpg 1x, /img/products/choco4@2x.jpg 2x"
            src="/img/products/choco4.jpg" alt="Dark chocolate with pineapple" />
          <div class="discription-slide-position">
            <h3 class="slide-title">PINEAPPLE</h3>
            <p class="slide-discription">Dark chocolate</p>
          </div>
          <button class="slide-btn" type="button">54 UAH</button>
        </li>
        <li class="swiper-slide slide-position">
          <img class="slide-img" srcset="/img/products/choco5.jpg 1x, /img/products/choco5@2x.jpg 2x"
            src="/img/products/choco5.jpg" alt="Milk chocolate" />
          <div class="discription-slide-position">
            <h3 class="slide-title">CLASSIC</h3>
            <p class="slide-discription">Milk chocolate</p>
          </div>
          <button class="slide-btn" type="button">45 UAH</button>
        </li>
        <li class="swiper-slide slide-position">
          <img class="slide-img" srcset="/img/products/choco6.jpg 1x, /img/products/choco6@2x.jpg 2x"
            src="/img/products/choco6.jpg" alt="Milk chocolate with honey" />
          <div class="discription-slide-position">
            <h3 class="slide-title">HONEY</h3>
            <p class="slide-discription">Milk chocolate</p>
          </div>
          <button class="slide-btn" type="button">50 UAH</button>
        </li>
        <li class="swiper-slide slide-position">
          <img class="slide-img" srcset="/img/products/choco7.jpg 1x, /img/products/choco7@2x.jpg 2x"
            src="/img/products/choco7.jpg" alt="Dark chocolate with Roasted fruits" />
          <div class="discription-slide-position">
            <h3 class="slide-title">ROASTED FRUITS</h3>
            <p class="slide-discription">Dark chocolate</p>
          </div>
          <button class="slide-btn" type="button">66 UAH</button>
        </li>
        <li class="swiper-slide slide-position">
          <img class="slide-img" srcset="/img/products/choco8.jpg 1x, /img/products/choco8@2x.jpg 2x"
            src="/img/products/choco8.jpg" alt="White chocolate" />
          <div class="discription-slide-position">
            <h3 class="slide-title">CLASSIC</h3>
            <p class="slide-discription">White chocolate</p>
          </div>
          <button class="slide-btn" type="button">54 UAH</button>
        </li>
      </ul>
      <!-- If we need pagination -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- SWIPER -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>