<!-- Top sellers -->
<section id="topsellers" class="section">
  <div class="topsellers-container container">
    <h2 class="section-title"><span>Top</span> Sellers</h2>
    <div class="sellers-images-wrapper">
      <ul class="topsellers-list">
        <li class="topsellers-item">
          <picture>
            <source
              srcset="
                /img/img-sellers/img1-desk@1x.jpg 1x,
                /img/img-sellers/img1-desk@2x.jpg 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                /img/img-sellers/img1-tab@1x.jpg 1x,
                /img/img-sellers/img1-tab@2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /img/img-sellers/img1-mob@1x.jpg 1x,
                /img/img-sellers/img1-mob@2x.jpg 2x
              "
              media="(min-width: 375px)" />

            <img
              class="topsellers-img"
              src="/img/img-sellers/img1-mob@1x.jpg"
              alt="chocolate cacao beans and nut"
          /></picture>
          <div class="text-mobile-container">
            <p class="topsellers-text">
              Crazy enough chocolate originates from a bean just like the coffee
              bean called Cacao. Cacao has been around for thousands of years
              and was first discovered by the Native American tribe called the
              Mayans.
            </p>
          </div>
        </li>
        <li class="topsellers-item">
          <picture>
            <source
              srcset="
                /img/img-sellers/img2-desk@1x.jpg 1x,
                /img/img-sellers/img2-desk@2x.jpg 2x
              "
              media="(min-width: 1200px)" />
            <source
              srcset="
                /img/img-sellers/img2-tab@1x.jpg 1x,
                /img/img-sellers/img2-tab@2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /img/img-sellers/img2-mob@1x.jpg 1x,
                /img/img-sellers/img2-mob@2x.jpg 2x
              "
              media="(min-width: 375px)" />
            <img
              class="topsellers-img"
              src="/img/img-sellers/img2-mob@1x.jpg"
              alt="chocolate with nuts"
          /></picture>
          <div class="btn-mobile-container">
            <button class="buy-btn" type="button" data-modal-open>
              Buy now
            </button>
          </div>
        </li>
        <li class="topsellers-item desk-card">
          <img
            class="topsellers-img"
            srcset="/img/img-sellers/img3-desk@2x.jpg 2x"
            src="/img/img-sellers/img3-desk@1x.jpg"
            alt="dark chocolate"
          />
        </li>
      </ul>
    </div>
    <div class="text-btn-container">
      <p class="topsellers-text tablet-desktop-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="buy-btn" type="button" data-modal-open>Buy now</button>
    </div>
  </div>
</section>
