<footer class="footer">
    <div class="container footer-container">
        <div class="footer-title">
            <h2 class="footer-slogan">Chocolate <span class="footer-slogan-span"> a delicious cure for a bad day</span>
            </h2>
        </div>
        <div class="footer-contacts">
            <div class="footer-contact-us">
                <p class="footer-contact-us-title">Contact us</p>
                <address class="contacts">
                    <ul class="contacts-list list">
                        <li class="contacts-item">
                            <a class="footer-contact-link link" href="tel:+380(68)443-94-26">+380(68)443-94-26</a>
                        </li>
                        <li class="contacts-item">
                            <a class="footer-contact-link link"
                                href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                        </li>
                    </ul>
                </address>
            </div>
            <div class="footer-social-media">
                <ul class="footer-social-list">
                    <li class="footer-social-list-item">
                        <a href="https://www.instagram.com/" class="footer-social-list-link" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="footer-social-media-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-ig"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-list-item">
                        <a href="https://twitter.com/" class="footer-social-list-link" target="_blank"
                            rel="noopener noreferrer">
                            <svg class="footer-social-media-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                </svg>
            </div>
        </div>
        <div class="footer-separating-line"></div>
        <div class="footer-menu-container">
            <ul class="footer-menu list">
                <li class="footer-menu-item">Home</li>
                <li class="footer-menu-item">How it's made?</li>
                <li class="footer-menu-item">Our products</li>
                <li class="footer-menu-item">Top sellers</li>
                <li class="footer-menu-item">Chocolate is loved</li>
            </ul>
        </div>
    </div>
</footer>

<nav class="header-nav">
    <ul class="header-nav-list list">
        <li class="header-nav-item">
            <a href="#" class="header-nav-link link">Home</a>
        </li>

        <li class="header-nav-item">
            <a href="#how-its-made" class="header-nav-link link">How it’s made?</a>
        </li>

        <li class="header-nav-item">
            <a href="#ourproducts" class="header-nav-link link">Our products</a>
        </li>

        <li class="header-nav-item">
            <a href="#topsellers" class="header-nav-link link">Top sellers</a>
        </li>

        <li class="header-nav-item">
            <a href="#chocolateisloved" class="header-nav-link link">Chocolate is loved</a>
        </li>
    </ul>
</nav>