<footer>
    <div class="container footer-container">
        <h2 class="footer-title"> <span class="footer-title-span">Chocolate</span>
            a delicious cure for a bad day</h2>
        <div class="footer-contacts">
            <p class="footer-contacts-title">Contact us</p>
            <address class="footer-address">
                <ul class="footer-address-list list">
                    <li class="footer-address-list-item link">
                        <a class="footer-address-list-link link" href="">+380 (68) 443-94-26</a>
                    </li>
                    <li class="footer-address-list-item mail">
                        <a class="footer-address-list-link link" href="">simplychoc@gmail.com</a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
</footer>