<div class="explore-overlay" data-modal>
  <div class="explore-modal">
    <button class="explore-modal-close-btn" type="button" data-modal-close>
      <svg class="explore-modal-close-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="explore-modal-img-container"></div>
    <div class="explore-modal-text">
      <h2 class="section-title explore-modal-title">
        Explore our
        <span class="explore-modal-accent">new chocolate</span> first!
      </h2>
      <form class="explore-modal-form">
        <input
          class="explore-modal-input"
          type="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          placeholder="Enter your email"
        />
        <button class="explore-modal-btn-mobile" type="submit">Submit</button>
        <button class="explore-modal-btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</div>
