.page-header {
  padding-top: 20px;
  padding-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--primary-text-color-theme-light);
}

@media only screen and (min-width: 1200px) {
  .logo {
    margin-right: 188px;
    font-size: 18px;
    line-height: 1.11;
  }
}

.logo-accent {
  font-style: italic;
}

.logo-icon {
  margin-left: 4px;
}

@media only screen and (min-width: 1200px) {
  .logo-icon {
    width: 24px;
    height: 24px;
  }
}

.header-nav,
.page-header .social-list {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    gap: 24px;
  }

  .header-nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--primary-text-color-theme-light);
    transition: color var(--standard-transition);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--accent-color);
  }

  .page-header .social-list {
    display: flex;
    margin-left: auto;
    gap: 18px;
  }

  .page-header .social-icon {
    display: block;
    stroke: var(--primary-text-color-theme-light);
    fill: var(--primary-text-color-theme-dark);
    transition: stroke var(--standard-transition);
  }

  .social-list-link:hover .social-icon,
  .social-list-link:focus .social-icon {
    stroke: var(--accent-color);
  }
}

@media only screen and (max-width: 1200px) {
  .mobile-menu-open {
    margin-left: auto;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: inherit;
    line-height: 0;
  }

  @media only screen and (min-width: 1200px) {
    .mobile-menu-open {
      display: none;
    }
  }

  .mobile-menu-open-icon {
    stroke: var(--primary-text-color-theme-light);
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu-open-icon {
      width: 32px;
      height: 32px;
    }
  }
}

/* =========================MOBILE MENU========================= */

.mobile-menu {
  position: fixed;
  width: 220px;
  height: 100%;
  min-height: 400px;
  top: 0;
  right: 0;
  background-color: var(--background-color-theme-dark);
  /* opacity: 0;
  visibility: hidden; */
  /* pointer-events: auto; - це мало б бути значення за замовчуванням*/
  transition: opacity var(--standard-transition),
    visibility 250ms var(--standard-transition);
  /* z-index: 2; */
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 290px;
  }
}

/* .mobile-menu.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto - це мало б бути значення за замовчуванням;
 } */

.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--primary-text-color-theme-dark);
  transform: scale(1);
  transition: transform 800ms ease-out, color 500ms ease-out;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-close-btn {
    top: 24px;
    right: 32px;
    width: 32px;
    height: 32px;
  }
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  transform: scale(1.43);
  color: var(--accent-color);
}

@media only screen and (min-width: 768px) {
  .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
      transform: scale(1.25);
    
    }
}

.mobile-menu-close-icon {
  stroke: currentColor;
}

.mobile-nav {
  padding-top: 136px;
  padding-left: 50px;
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    padding-top: 156px;
    padding-left: 85px;
  }
}

.mobile-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--primary-text-color-theme-dark);
  transition: color 500ms ease-out;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--accent-color);
}

.mobile-nav-item + .mobile-nav-item {
  margin-top: 24px;
}

.mobile-social-list {
  position: absolute;
  display: flex;
  gap: 18px;
  bottom: 20px;
  left: 20px;
}

@media only screen and (min-width: 768px) {
  .mobile-social-list {
    bottom: 24px;
    left: 32px;
  }
}

.mobile-social-list-link {
  color: var(--primary-text-color-theme-dark);
}

.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
  color: var(--accent-color);
}

.mobile-social-icon {
  display: block;
  stroke: currentColor;
}

@media only screen and (min-width: 768px) {
  .mobile-social-icon {
         width: 24px;
      height: 24px;
    }
}

/* =========================/MOBILE MENU========================= */

/* Зробити коментарі
анымацію для навігації мобільного меню
java script
вияснити за дефолтні стилі для body */
