.page-header {
  padding-top: 20px;
  padding-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}


.logo {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--primary-text-color-theme-light);
}

@media only screen and (min-width: 1200px) {
  .logo {
    margin-right: 188px;
    font-size: 18px;
    line-height: 1.11;
  }
}

.logo-accent {
  font-style: italic;
}

.logo-icon {
  margin-left: 4px;
}

@media only screen and (min-width: 1200px) {
  .logo-icon {
    width: 24px;
    height: 24px;
  }
}

.header-nav,
.page-header .social-list {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    gap: 24px;
  }

  .header-nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--primary-text-color-theme-light);
  }

  .page-header .social-list {
    display: flex;
    margin-left: auto;
    gap: 18px;
  }

  .page-header .social-icon {
    display: block;
    stroke: var(--primary-text-color-theme-light);
    fill: var(--primary-text-color-theme-dark);
    transition: stroke var(--standard-transition);
  }

  .social-list-link:hover .social-icon,
  .social-list-link:focus .social-icon {
    stroke: var(--accent-color);
  }
}

@media only screen and (max-width: 1200px) {
  .mobile-menu-open {
    margin-left: auto;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: inherit;
    line-height: 0;
  }

  .mobile-menu-open-icon {
    stroke: var(--primary-text-color-theme-light);
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu-open-icon {
      width: 32px;
      height: 32px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
}

