.page-header {
  color: var(--primary-text-color-theme-light);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 23.5px;
  padding-bottom: 17.5px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  transition: color var(--standard-transition);
}

@media only screen and (min-width: 768px) {
  .logo {
    padding-top: 29.5px;
    padding-bottom: 29.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    margin-right: 188px;
    padding-top: 24px;
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 1.11;
  }
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-accent {
  font-style: italic;
}

.logo-icon {
  margin-left: 4px;
}

@media only screen and (min-width: 1200px) {
  .logo-icon {
    width: 24px;
    height: 24px;
  }
}

.header-nav,
.page-header .social-list {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .header-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    gap: 24px;
  }

  .header-nav-link {
    padding-top: 28px;
    padding-bottom: 36px;
    font-weight: 500;
    line-height: 1.14;
    transition: color var(--standard-transition);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--accent-color);
  }

  .page-header .social-list {
    display: flex;
    margin-left: auto;
    gap: 18px;
    margin-left: auto;
  }

  .page-header .social-list-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 32px;
    transition: color var(--standard-transition);
  }

  .page-header .social-list-link:hover,
  .page-header .social-list-link:focus {
    color: var(--accent-color);
  }

  .page-header .social-icon {
    display: block;
    stroke: currentColor;
    fill: transparent;
  }
}

@media only screen and (min-width: 1200px) {
  .mobile-menu-open {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .mobile-menu-open {
    margin-left: auto;
    padding: 20px 0 14px;
    border: none;
    cursor: pointer;
    color: var(--primary-text-color-theme-light);
    background-color: inherit;
    line-height: 0;
    transition: color var(--standard-transition);
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu-open {
            padding: 24px 0;
          }
  }

  .mobile-menu-open:hover,
  .mobile-menu-open:focus {
    color: var(--accent-color);
  }

  .mobile-menu-open-icon {
    stroke: currentColor;
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu-open-icon {
      width: 32px;
      height: 32px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  /* =========================MOBILE MENU========================= */

  .backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--backdrop-shadow);
    overflow-y: scroll;
    opacity: 1;
    transition: visibility var(--standard-transition),
      opacity var(--standard-transition);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    min-height: 400px;
    background-color: var(--background-color-theme-dark);
    transform: translateX(0);
    transition: transform var(--standard-transition);
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu {
      width: 290px;
    }
  }

  .backdrop.is-hidden .mobile-menu {
    transform: translateX(100%);
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--primary-text-color-theme-dark);
    transform: scale(1);
    transition: transform 800ms ease-out, color 500ms ease-out;
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu-close-btn {
      top: 24px;
      right: 32px;
      width: 32px;
      height: 32px;
    }
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    transform: scale(1.43);
    color: var(--accent-color);
  }

  @media only screen and (min-width: 768px) {
    .mobile-menu-close-btn:hover,
    .mobile-menu-close-btn:focus {
      transform: scale(1.25);
    }
  }

  .mobile-menu-close-icon {
    stroke: currentColor;
  }

  .mobile-nav {
    padding-top: 136px;
    padding-left: 50px;
  }

  @media only screen and (min-width: 768px) {
    .mobile-nav {
      padding-top: 156px;
      padding-left: 85px;
    }
  }

  .mobile-nav-link {
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    color: var(--primary-text-color-theme-dark);
    transition: color 500ms ease-out, letter-spacing 500ms ease-out;
  }

  .mobile-nav-link:hover,
  .mobile-nav-link:focus {
    color: var(--accent-color);
    letter-spacing: -0.01em;
  }

  .mobile-nav-link::after {
    position: absolute;
    bottom: -5px;
    content: '';
    display: block;
    width: 25px;
    height: 1px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity 500ms ease-out;
  }

  .mobile-nav-item + .mobile-nav-item {
    margin-top: 24px;
    transition: margin-top 500ms ease-out;
  }

  .mobile-nav-item:hover + .mobile-nav-item {
    margin-top: 30px;
  }

  .mobile-nav-item:hover .mobile-nav-link::after {
    opacity: 1;
  }

  .mobile-social-list {
    position: absolute;
    display: flex;
    gap: 18px;
    bottom: 20px;
    left: 20px;
  }

  @media only screen and (min-width: 768px) {
    .mobile-social-list {
      bottom: 24px;
      left: 32px;
    }
  }

  .mobile-social-list-link {
    color: var(--primary-text-color-theme-dark);
    transition: color 500ms ease-out;
  }

  .mobile-social-list-link:hover,
  .mobile-social-list-link:focus {
    color: var(--accent-color);
  }

  .mobile-social-icon {
    display: block;
    stroke: currentColor;
    fill: transparent;
  }

  @media only screen and (min-width: 768px) {
    .mobile-social-icon {
      width: 24px;
      height: 24px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .backdrop {
    display: none;
  }
}
