.hero {
  padding-bottom: 72px;

  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 50px;
  }
}

.hero-container {
  height: 621px;
  padding: 20px;
  background-image: url(/img/01_hero/hero_img_mobile.jpg);
  background-color: var(--background-color-theme-dark);
  background-position: center;
  border-radius: 30px;
  border-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/img/01_hero/hero_img_mobile@2x.jpg);
  }

  @media only screen and (min-width: 768px) {
    height: 890px;
    padding: 40px;
    background-image: url(/img/01_hero/hero_img_tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/img/01_hero/hero_img_tablet@2x.jpg);
    }
  }

  @media only screen and (min-width: 1200px) {
    height: 600px;
    background-image: url(/img/01_hero/hero_img_desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/img/01_hero/hero_img_desktop@2x.jpg);
    }
  }
}

.hero-content {
  width: 100%;
  position: relative;
}

.hero-subheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: -0.03em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    width: 484px;
    font-size: 28px;
    line-height: 1.21em;
  }
}

/* Container for both buttons */
.hero-btn-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

/* Scroll button to footer */
.hero-scroll {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  width: auto;

  @media only screen and (min-width: 768px) {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

.scroll-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--standard-transition);

  @media only screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.29em;
  }
}

.hero-scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-text-color-theme-dark);
  color: var(--accent-color);
  margin-right: auto;
  transition: color var(--standard-transition),
    background-color var(--standard-transition);

  @media only screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
  }
}

.hero-scroll-svg {
  fill: currentColor;

  @media only screen and (min-width: 768px) {
    width: 22px;
    height: 22px;
  }

  @media only screen and (min-width: 1200px) {
  }
}

.hero-scroll:hover .scroll-text,
.hero-scroll:focus .scroll-text {
  color: var(--accent-color);
}

.hero-scroll:hover .hero-scroll-btn,
.hero-scroll:focus .hero-scroll-btn {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}
