.section-components {
  padding: 72px 0;
}

@media only screen and (min-width: 768px) {
  .section-components {
    padding: 100px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .section-components {
    padding: 128px 0;
  }
}

.components-header-pos {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .components-header-pos {
    width: 486px;
    gap: 28px;
  }
}

.components-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}

@media only screen and (min-width: 768px) {
  .components-header {
    font-size: 24px;
    line-height: 1.16;
  }
}



.text-components-header {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--primary-text-color-theme-light);
}

.components-list {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 32px;
}

@media only screen and (min-width: 768px) {
  .components-list {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .components-list {
    flex-wrap: nowrap;
    gap: 19px;
  }
}

.link-comp {
    width: 335px;
    height: 270px;
    border-radius: 15px;
}

.components-link-1 {
 
  background: var(--accent-color);
}

.components-link-1:hover, .components-link-1:focus {
    background: #fafafa;
    border: 1px solid #fafafa;
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .components-link-1 {
    order: 1;
  }
}

@media only screen and (min-width: 1200px) {
  .components-link-1 {
    width: 270px;
  }
}

.components-link-2 {
  background: #ffff;
  border: 1px solid #fd9222;
}

.components-link-2:hover, .components-link-2:focus {
    background: #fafafa;
    border: 1px solid #fafafa;
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .components-link-2 {
    order: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .components-link-2 {
    width: 270px;
  }
}

.components-link-3 {
  background: #1e1823;
}

.components-link-3:hover, .components-link-3:focus {
    background: #fafafa;
    border: 1px solid #fafafa;
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .components-link-3 {
    order: 4;
  }
}

@media only screen and (min-width: 1200px) {
  .components-link-3 {
    width: 270px;
  }
}

.components-link-4 {
  background: #ffff;
  border: 1px solid #fd9222;
}

.components-link-4:hover, .components-link-4:focus {
    background: #fafafa;
    border: 1px solid #fafafa;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .components-link-4 {
    order: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .components-link-4 {
    width: 270px;
  }
}

.components-name-card {
  display: flex;
  width: 100%;
  padding-left: 28px;
  align-items: center;
}

.components-title-1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  display: flex;
  padding-top: 28px;
  align-items: center;
  justify-content: flex-start;
}

.components-title-2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  display: flex;
  padding-top: 28px;
  align-items: center;
  justify-content: flex-start;
}

.flip-card {
  background-color: transparent;
  max-width: 335px;
  height: 270px;
  perspective: 1000px;
  overflow: hidden;
}

@media only screen and (min-width: 1200px) {
  .flip-card {
    width: 270px;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  padding-top: 28px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style the back side */
.flip-card-back {
  background-color: #ffff;
  color: var(--primary-text-color-theme-dark);
  transform: rotateY(180deg);
  border: 1px;
  border-radius: 15px;
}

.components-ingredients {
  padding: 28px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  /* margin-bottom: 8px; */
  gap: 8px;
}

@media only screen and (min-width: 1200px) {
  .components-ingredients {
    padding: 20px;
  }
}

.components-ingredients-list {
  flex-direction: row;
  display: flex;
  gap: 14px 6px;
}
.components-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: start;
  color: var(--primary-text-color-theme-light);
}

.cards {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--primary-text-color-theme-light);
  background: #fafafa;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border: 1px solid #fd9222;
  border-radius: 35px;
}


.components-product {
  font-size: 10px;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  background-color: var(--accent-color);
  border-radius: 35px;
}

.components-stock {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: start;
  color: var(--primary-text-color-theme-light);
  flex: none;
  width: 100%;
  height: 100%;
  padding-top: 6px;
}

@media only screen and (min-width: 1200px) {
  .ell-1 {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 1200px) {
  .ell-2 {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
