/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* Partials */
@import url('./01_header.css');
@import url('./02_hero.css');
@import url('./03_advantages.css');
@import url('./04_components.css');
@import url('./05_how_its_made.css');
@import url('./06_products.css');
@import url('./07_sellers.css');
@import url('./08_reviews.css');
@import url('./09_subscribe.css');
@import url('./10_footer.css');
@import url('./11_modal_buy.css');
@import url('./12_modal_review.css');
@import url('./13_modal_explore.css');

:root {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.29em;
  font-weight: 400;
  letter-spacing: -0.02em;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color */
  --primary-text-color-theme-light: #111111;
  --secondary-text-color-theme-light: rgba(17, 17, 17, 0.7);
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.7);
  --accent-color: #fd9222;
  --color-for-input: rgba(64, 64, 64, 0.3);
  --color-for-label: #000000;
  --slider-marker-color: rgba(17, 17, 17, 0.1);
  --background-color-theme-light: #e2e2e2;
  --background-color-theme-dark: #1e1823;
  --button-hover-color: #fcf1e0;

  /* transitions */
  --standard-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* **************************************************************** */
/* Generic Styles */
/* **************************************************************** */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}
@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em; /* or 120% */
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 24px;
    line-height: 28px; /* or 117% */
    margin-bottom: 50px;
  }
}

.accent-text {
  color: var(--accent-color);
}

/* Basic buttons */
.btn-basic {
  padding: 12px 28px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21em; /* 17/14 */
  border-radius: 100px;

  @media only screen and (min-width: 768px) {
    height: 45px;
    padding: 14px 40px;
  }
}

.btn-big {
  padding: 12px 28px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21em; /* 17/14 */
  border-radius: 100px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.22em; /* 22/18 */
    height: 50px;
    padding: 14px 40px;
  }
}

.btn-fill {
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
  transition: color var(--standard-transition),
    background-color var(--standard-transition);
}

.btn-fill:hover,
.btn-fill:focus {
  background-color: var(--button-hover-color);
  color: var(--accent-color);
}

.btn-outline-light {
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--primary-text-color-theme-light);
  transition: color var(--standard-transition),
    border-color var(--standard-transition);
}

.btn-outline-light:hover,
.btn-outline-light:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}

.btn-outline-dark {
  border: 1px solid var(--primary-text-color-theme-dark);
  background-color: transparent;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--standard-transition),
    border-color var(--standard-transition);
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
